$dark-blue: #0C4160;
$light-green: #D7DCDD;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    background-color: $light-green;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .login-div {
        display: flex;

        #name, #password {
            margin-right: 10px;
            border-radius: 5px;
            padding: 15px 35px;
            border: none;
        }
    }

    .login-btn, .signup-btn {
        border-radius: 5px;
        border: none;
        padding: 15px 15px;
        cursor: pointer;
    }

    .login-btn:hover {
        background-color: $dark-blue;
        color: $light-green;
    }

    .signup-btn {
        margin-right: 20px;
    }

}


main {

    text-align: center;
    margin-top: 150px;

    h1 {
        font-size: 4rem;
    }
}
