$dark-blue: #0c4160;
$light-green: #d7dcdd;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $light-green;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  .login-div {
    display: flex;

    #name,
    #password {
      margin-right: 10px;
      border-radius: 5px;
      padding: 15px 35px;
      border: none;
    }
  }

  .login-btn,
  .signup-btn {
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
  }

  .login-btn:hover {
    background-color: $dark-blue;
    color: $light-green;
  }

  .signup-btn {
    margin-right: 20px;
  }
}

nav {
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;

  .nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 50px;
    padding: 5px 0;
    font-size: 1.5rem;
    cursor: pointer;
  
    a:link {
      color: #0c4160;
      box-shadow: inset 0 0 0 0 $dark-blue;
      margin: 0 -0.25rem;
      padding: 0.35rem;
      transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      text-decoration: none;
    }
  
    a:visited {
      color: $dark-blue;
    }
  
    a:hover {
      color: $light-green;
      box-shadow: inset 250px 0 0 0 $dark-blue;
    }
  
    /* selected link */
    a:active {
      color: blue;
    }
  }
}



main {
  text-align: center;
  margin-top: 150px;

  h1 {
    font-size: 4rem;
  }

  .documents-wrapper {
    margin: 20px;

    .blogPosts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      list-style: none;
      padding: 25px;

      li {
        border: 1px solid $black;
        padding: 15px;
        background-color: $white;
        border-radius: 5px;

        :first-child {
          margin-bottom: 25px;
          font-size: 2rem;
        }

        h2 {
          border-bottom: 1px solid $black;
        }

        p {
          margin-bottom: 20px;
        }

        button {
          border-radius: 5px;
          border: none;
          padding: 15px 15px;
          cursor: pointer;
          margin: 15px;
          background-color: $light-green;
        }

        button:hover {
          background-color: $dark-blue;
          color: $light-green;
        }
      }
    }
  }
}

.text-area {
  margin: auto;
  max-width: 900px;

  input {
    margin-bottom: 50px;
    margin-top: 10px;
    border: none;
    padding: 15px 200px 15px 10px;
    border-radius: 5px;
  }

  label {
    font-size: 1.5rem;
  }

}

.signup-form {
  h1 {
    margin: 10px;
  }
  input {
    border: none;
    width: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }

  button {
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: $dark-blue;
    color: $light-green;
  }
}

.documentContent {
  max-width: 70%;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  background-color: $white;
}



